/* Add CSS Styling */
.oddnumber1,.oddnumber3,.oddnumber5 {
    color:black;
    background-color: pink;
    font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';

}

.oddnumber3 {
    font-size: 24px;
}

#number2 {
    color: blue;
    background-color: white;
    font-size: 36px;


}

#number4 {
    font-weight: bold;
    background-color: lightgreen;
    font-size: 24px;

}

